html, body {
    min-height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    overflow: hidden;
    background-color: rgb(20, 20, 20);

}

h1 {
    font-family: sans-serif;
    color: white;
    margin-left: 1em;
}


.gemeente {
    stroke: white;
    opacity: .5;
    cursor: pointer;
}

path:hover {
    stroke-width: 3px;
    opacity: 1;
}


.text {
    color: white;
}

#percentage {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    left: 10em;
    top: 10em;
    color: white;
    width: fit-content;
    background-color: rgb(40, 40, 40);
    border-radius: 2em;
}

#percentage h2 {
    text-align: center;
    font-family: sans-serif;
}

#percentage p {
    text-align: center;
    font-family: sans-serif;
}