html, body {
    min-height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin: 0;
}

svg {
    background-color: whitesmoke;
}

.gemeente {
    fill: skyblue;
    stroke: black;
}

path:hover {
    fill: navy;
}